@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Lobster+Two:ital@1&family=Montserrat&family=Poppins&family=Reenie+Beanie&family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    color:antiquewhite;
}
.cover-image{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background-image: url(/CodSoft/task1/images/pccover.webp);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.cover-image-cover{
    overflow-x: hidden;
    background-color:rgb(113, 113, 190);
    position:absolute;
    width: 100vw;
    height:100vh;
    opacity: 0.7;
}
.cover-font{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    font-family: 'Reenie Beanie', cursive;
    color:antiquewhite
}
.title{
    text-align: center;
}
.title h2{
    font-size: 200px;
}
.title h3{
    font-family: 'Montserrat',cursive;
    font-size: 30px;
}
.svg{
    animation: bounce 2s infinite;
}
@keyframes bounce{
      0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
      }
      40% {
        transform: translateY(-30px);
      }
      60% {
        transform: translateY(-15px);
      }
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.content-header{
    width:70vw;
    overflow: hidden;
    display: flex;
    justify-content:center;
    gap:80px;
}
.bio{
    font-family: 'Roboto',sans-serif;
}
.bio-header{
    text-align: center;
    font-size: 50px;
    font-weight: 500;
}
.bio-content{
    font-size: 20px;
    letter-spacing:1.6px;
}
hr{
    margin-top: 0;
    margin-bottom: 14px;
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(255, 64, 129), rgba(0, 0, 0, 0));
}
.bio-pic{
    border:2px solid rgb(223, 222, 222);
    align-content: center;
    border-radius: 5px;
}
.bio-pic img{
    width: 500px;
    border-radius: 10px;
    padding:5px;
    padding-bottom: 0px;
}
.timeline{
    width:100vw;
    overflow: hidden;
    display: flex;
    justify-content:center;
    text-align: center;
    margin-top: 100px;
}
.timeline-info{
    font-size: 30px;
    margin-bottom: 50px;
}
.timeline-info hr{
    margin-top: 0;
    margin-bottom: 40px;
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(255, 64, 129), rgba(0, 0, 0, 0));
}
.dashboard{
    width: 70vw;
    border: 1px solid whitesmoke;
    display: flex;
    text-align: start;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 20px;
    align-items: start;
    margin-top: 10px;
    margin-bottom:15px;
    border-radius: 10px;
    gap: 20px;
}
.date{
    width: 250px;
    font-size: 25px;
}
.event{
    width: 900px;
    font-size: 25px;
}
.gallary h1{
    font-size: 40px;
    text-align: center;
}
.gal-pos{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    padding-left: 50px;
}
.gal-pos img{
    width: 300px;
}
.img1{
    translate:300px;
    rotate: -45deg; 
    border: 2px solid white;
    cursor: pointer;
    filter: grayscale(100%);
}
.img1:hover{
    scale:1.5;
    rotate: 0deg;
    z-index: 10;
    filter: grayscale(0%);
}
.img2{
    translate:200px -100px;
    rotate: 20deg;
    border: 2px solid white;
    cursor: pointer;
    filter: grayscale(100%);
}
.img3{
    translate:-10px 70px;
    rotate: -5deg;
    border: 2px solid white;
    cursor: pointer;
    filter: grayscale(100%);
}
.img4{
    translate:-150px -50px;
    rotate: -05deg;
    border: 2px solid white;
    cursor: pointer;
    filter: grayscale(100%);
}
.img5{
    translate:-330px 120px;
    rotate: 35deg;
    border: 2px solid white;
    cursor: pointer;
    filter: grayscale(100%);
}
.img6{
    translate:-500px -70px;
    rotate: 15deg;
    border: 2px solid white;
    cursor: pointer;
    filter: grayscale(100%);
}
.img2:hover{
    scale:1.5;
    rotate: 0deg;
    z-index: 10;
    filter: grayscale(0%);
}
.img3:hover{
    scale:1.5;
    rotate: 0deg;
    z-index: 10;
    filter: grayscale(0%);
}
.img4:hover{
    scale:1.5;
    rotate: 0deg;
    z-index: 10;
    filter: grayscale(0%);
}
.img5:hover{
    scale:1.5;
    rotate: 0deg;
    z-index: 10;
    filter: grayscale(0%);
}
.img6:hover{
    scale:1.5;
    rotate: 0deg;
    z-index: 10;
    filter: grayscale(0%);
}
@media only screen and (max-width:600px){
    .cover-image{
        background-image: url(/CodSoft/task1/images/cover_mobile.jpg);
    } 
    .title h2{
        font-size: 140px;
    }
    .title h3{
        font-family: 'Montserrat',cursive;
        font-size: 20px;
    }
    .content-header{
        width: 100vw;
        display: grid;
        grid-auto-flow: row;
        align-items: center;
    }
    .bio{
        display: grid;
        padding-left: 20px;
        padding-right:20px;
    }
    .bio-header{
        text-align: center;
        font-size: 30px;
        font-weight: 500;
    }
    .bio-content{
        font-size: 18px;
        text-align: center;
    }
    .bio-pic{
        width:fit-content;
        margin-left: 5px;
    }
    .bio-pic img{
        width:350px;
        border-radius: 10px;
        padding:2px;
        padding-bottom: 0px;
    }
    .dashboard{
        width: 80vw;
        display: grid;
        height: auto;
        grid-auto-flow: row;
    }
    .date{
        width: auto;
        font-size: 25px;
    }
    .event{
        width: auto;
        font-size: 25px;
    }
    .gal-pos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-top: 20px;
        padding-left: 10px;
    }
    .img1{
        translate:0px 0px;
        rotate: 0deg;
        border: 2px solid white;
        cursor: pointer;
    }
    .img2{
        translate:0px 0px;
        rotate: 0deg;
        border: 2px solid white;
        cursor: pointer;
    }
    .img3{
        translate:0px 0px;
        rotate: 0deg;
        border: 2px solid white;
        cursor: pointer;
    }
    .img4{
        translate:0px 0px;
        rotate: 0deg;
        border: 2px solid white;
        cursor: pointer;
    }
    .img5{
        translate:0px 0px;
        rotate: 0deg;
        border: 2px solid white;
        cursor: pointer;
    }
    .img6{
        translate:0px 0px;
        rotate: 0deg;
        border: 2px solid white;
        cursor: pointer;
    }
    .img1:hover{
        scale:1;
        rotate: 0deg;
        z-index: 10;
    }
    .img2:hover{
        scale:1;
        rotate: 0deg;
        z-index: 10;
    }
    .img3:hover{
        scale:1;
        rotate: 0deg;
        z-index: 10;
    }
    .img4:hover{
        scale:1;
        rotate: 0deg;
        z-index: 10;
    }
    .img5:hover{
        scale:1;
        rotate: 0deg;
        z-index: 10;
    }
    .img6:hover{
        scale:1;
        rotate: 0deg;
        z-index: 10;
    }
    .gallary{
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
@media (min-width:600px) and (max-width:1024px) {
        .cover-image{
            background-image: url(/CodSoft/task1/images/cover_mobile.jpg);
        }
        .title h2{
            font-size: 140px;
        }
        .title h3{
            font-family: 'Montserrat',cursive;
            font-size: 20px;
        }
        .content-header{
            width: 100vw;
            display: grid;
            grid-auto-flow: row;
            align-items: center;
        }
        .bio{
            display: grid;
            padding-left: 80px;
            padding-right:80px;
        }
        .bio-header{
            text-align: center;
            font-size: 30px;
            font-weight: 500;
        }
        .bio-content{
            font-size: 18px;
        }
        .bio-pic{
            width: fit-content;
            margin-left: 140px;
            margin-right: 100px;
        }
        .dashboard{
            width: 80vw;
            display: grid;
            height: auto;
            grid-auto-flow: row;
        }
        .date{
            width: auto;
            font-size: 25px;
        }
        .event{
            width: auto;
            font-size: 25px;
        }
        .gal-pos{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
            margin-top: 20px;
            padding-left: 10px;
        }
        .img1{
            translate:0px 0px;
            rotate: 0deg;
            border: 2px solid white;
            cursor: pointer;
        }
        .img2{
            translate:0px 0px;
            rotate: 0deg;
            border: 2px solid white;
            cursor: pointer;
        }
        .img3{
            translate:0px 0px;
            rotate: 0deg;
            border: 2px solid white;
            cursor: pointer;
        }
        .img4{
            translate:0px 0px;
            rotate: 0deg;
            border: 2px solid white;
            cursor: pointer;
        }
        .img5{
            translate:0px 0px;
            rotate: 0deg;
            border: 2px solid white;
            cursor: pointer;
        }
        .img6{
            translate:0px 0px;
            rotate: 0deg;
            border: 2px solid white;
            cursor: pointer;
        }
        .img1:hover{
            scale:1;
            rotate: 0deg;
            z-index: 10;
        }
        .img2:hover{
            scale:1;
            rotate: 0deg;
            z-index: 10;
        }
        .img3:hover{
            scale:1;
            rotate: 0deg;
            z-index: 10;
        }
        .img4:hover{
            scale:1;
            rotate: 0deg;
            z-index: 10;
        }
        .img5:hover{
            scale:1;
            rotate: 0deg;
            z-index: 10;
        }
        .img6:hover{
            scale:0;
            rotate: 0deg;
            z-index: 10;
        }
        .gallary{
            margin-top: 10px;
            margin-bottom: 10px;
    }
}
